// Resolution
$mobile_width: 320px;
$mobile_max_width: 767px;
$tablet_width: 768px;
$tablet_max_width: 1023px;
$desktop_width: 1024px;

// Container
$desktop_container_width: 1200px;

// Paddings
$mobile_padding: 30px;
$tablet_padding: 0;
$desktop_padding: 30px;

// Fonts
$primary_font_family: "Montserrat", "Arial", sans-serif;

// Font colors
$menu_color: #141517;
$text_color: #2c2e3e;
$text_color_07: rgba(44, 46, 63, 0.7);
$text_color_05: rgba(44, 46, 63, 0.5);
$text_color_03: rgba(44, 46, 63, 0.3);
$accent_color: #fe7865;

// Background colors
$primary_bg_color: #ffffff;

// Element statements
$hover_opacity: 0.7;
$active_opacity: 0.5;

// Animation
$standart_transition: 0.3s;

// Retina
$retina: 1.5dppx;
