// Resolution
$mobile_width: 320px;
$mobile_max_width: 767px;
$tablet_width: 768px;
$tablet_max_width: 1023px;
$desktop_width: 1924px;

// Container
$desktop_container_width: 1200px;

// Paddings
$mobile_padding: 30px;
$tablet_padding: 0;
$desktop_padding: 30px;

// Fonts
$primary_font_family: "Montserrat", "Arial", sans-serif;

// Font colors
$text_color: #333333;
$text_color_light: #ffffff;
$accent_color: #e3000f;
$title_color: #004389;

// Background colors
$primary_bg_color: #ffffff;

// Element statements
$hover_opacity: 0.7;
$focus_opacity: 0.5;

// Animation
$standart_transition: 0.3s;

// Retina
$retina: 1.5dppx;
